<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Columns to Merge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="back-link">
          <a href="/">← Back to Upload</a>
        </div>
        <h1>Select Columns to Merge</h1>
    </header>
    <div class="container">
        <form method="post" action="/require_values">
        <div class="columns-wrapper">
          {% for file, columns in files.items() %}
            <div class="column-group">
              {% set shortname = file.split('/')[-1].replace('.csv', '') %}
              <fieldset>
                <legend><strong>{{ shortname }}</strong></legend>
                {% for column in columns %}
                  {% if column == 'metadata: part ID' %}
                    <label>
                      <input type="checkbox" name="{{ file }}" value="{{ column }}" checked disabled>
                      {{ column }}
                    </label>
                    <input type="hidden" name="{{ file }}" value="{{ column }}">
                  {% else %}
                    <label>
                      <input type="checkbox" name="{{ file }}" value="{{ column }}">
                      {{ column }}
                    </label>
                  {% endif %}
                {% endfor %}
              </fieldset>
            </div>
          {% endfor %}
        </div>
        <input type="submit" class="btn" value="Continue">
      </form> 
    </div>
</body>
</html>
